/* Root */

body {
  display: flex;
  flex-direction: column;
}

/* Body */

#header,
#main {
  display: flex;
  flex-direction: row;
}

#header {
  background-color: var(--background-color-secondary);
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing);
}

.logo {
  color: #f2d93a;
}

#main {
  flex-grow: 1;
}

/* Main */

#chat,
#game {
  display: flex;
  flex-direction: column;
}

#log,
#game {
  flex-grow: 1;
}

#chat {
  margin: var(--spacing);
  /* border-radius: var(--spacing); */
  min-width: 260px;
  /* this allows for the border radius to clip the visibility of it's children */
  overflow: hidden;
}

#game {
  padding: var(--spacing) var(--spacing) var(--spacing) 0;
  /* this is a hack to make elements scroll properly */
  width: 10px;
}

/* Chat */

#log {
  background-color: var(--background-color-secondary);
  width: 260px;
  padding: var(--spacing);
  overflow-y: scroll;
  /* this is a hack to make elements scroll properly */
  height: 10px;
}

#log p {
  font-family: "Roboto Mono", monospace;
  font-size: 14px;
}

#chat-input {
  /* height: 4.5em; */
  margin: unset;
  width: 260px;
  background-color: var(--background-color-tertiary);
  color: var(--text-color);
  padding: var(--spacing);
  border: none;
  outline: none;
  resize: none;
  /* overflow-y: auto; */
}

/* Game */

#field {
  flex-grow: 1;
}

#hand {
  /* border-right: 8px solid var(--background-color-secondary); */
  /* border-left: 8px solid var(--background-color-secondary); */  
  /* height: 171px; */
  /* border-bottom-left-radius: var(--spacing); */
  /* border-bottom-right-radius: var(--spacing); */
  /* this allows for the border radius to clip the visibility of it's children */
  overflow: hidden;
}

#hand > div {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
}

#cards {
  flex-grow: 1;
  margin-top: 24px;
  background-color: var(--background-color-secondary);
  /* border-top-left-radius: var(--spacing); */
  /* border-top-right-radius: var(--spacing); */
  padding: var(--spacing) 0 var(--spacing) var(--spacing);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-end;
  /* align-items: flex-start; */
}
