<div id="about" hidden>
    <h1>bomo</h1>
    <p>
        bomo is a silly little open source uno clone :)<br>
        you can view said source <a href="https://github.com/mechabubba/bomo">right here.</a>
    </p>
    <h1>contributors</h1>
    <table>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Github</th>
        </tr>
        <tr>
            <th><img class="avatar" src="./assets/avatars/mechabubba.png"></th>
            <td>Steven</td>
            <td><a href="https://github.com/mechabubba">"STOP POSTING ABOUT UNO IM TIRED OF SEEING IT"</a></td>
        </tr>
    </table>
    <div id="close-about">
        <span>✕</span>
    </div>
</div>