<div id="header">
    <div class="flex-grow"><a href="/">bomo</a></div>    
    <a href="/about">about</a>
    <!-- <div class="flex-grow"><span><a href="/">bomo</a> - an open source take on the classic card game UNO</span></div> -->
    <%- include("./settings.ejs") %>
</div>
