<!-- views/partials/header -->
<div id="header">
    <span><span id="header-title"><%- title.split("-")[0].trim() %></span> - the classic card game</span>
    <span>about</span>
</div>
<!-- close partial -->