<!-- views/partials/header -->
<<<<<<< HEAD
<div id="header">
    <span><span id="header-title"><%- title.split("-")[0].trim() %></span> - the classic card game</span>
    <span><a href="javascript:toggleAbout()">about</a></span>
=======
<div id="page-header" class="header">
    <span><a href="/"><%- title.split("-")[0].trim() %></a> - the classic card game</span>
    <span>about</span>
>>>>>>> d908052ed0bf47efb5edf95b4e9b184206204904
</div>
<!-- close partial -->