<!-- views/partials/header -->
<div id="page-header" class="header">
    <span><a href="/"><%- title.split("-")[0].trim() %></a> - the classic card game</span>
    <span>about</span>
</div>
<!-- close partial -->