<!-- views/partials/standard_header -->
<div id="page-header" class="header">
    <span class="grow"><a href="/"><%- title.split("-")[0].trim() %></a> - the classic card game</span>
    <span><a href="javascript:toggleAbout()">about</a></span>
</div>
<!-- close partial -->