node_modules/
jspm_packages/
pids
*.pid
*.seed
*.pid.lock
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
.npm
.eslintcache
.node_repl_history
*.log
npm-debug.log*
*.env
*.env.test
*.tgz
*.zip
*.7z
*.tar
*.exe
!template.env
