<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/standard_head.ejs") %>
    <style>
        #page {
            padding: 1em;
        }
        .nitter-tweet {
            display: block;
            height: 500px;
            max-width: 700px;
        }
        .nitter-tweet iframe {
            height: 100%;
            width: 100%;
        }
    </style>
</head>

<body>
    <%- include("partials/standard_header.ejs") %>
    <div id="page">
        <h1>404</h1>
        <p>The requested url <code><%= url %></code> was not found</p>
        <!-- Embed TopHattWaffle's tweet -->
        <div class="nitter-tweet">
            <iframe scrolling="no" src="https://nitter.net/TopHATTwaffle/status/993234368540954625/embed"></iframe>
        </div>
    </div>
    <%- include("partials/standard_scripts.ejs") %>
</body>

</html>