<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/standard_head.ejs") %>
    <style>
        #page {
            padding: 1em;
        }
    </style>
</head>

<body>
    <%- include("partials/standard_header.ejs") %>
    <div id="page">
        <h1>404</h1>
        <p>The requested url <code><%= url %></code> was not found</p>
        <!-- Embed TopHattWaffle's tweet -->
        <blockquote class="twitter-tweet" data-conversation="none" data-dnt="true" data-theme="dark"><p lang="en" dir="ltr">Please help... <a href="https://t.co/ERuKCBY0WK">pic.twitter.com/ERuKCBY0WK</a></p>&mdash; TopHATTwaffle (@TopHATTwaffle) <a href="https://twitter.com/TopHATTwaffle/status/993234368540954625?ref_src=twsrc%5Etfw">May 6, 2018</a></blockquote>
        <p id="lol" style="display: none;">Twitter's script was blocked from loading or had an error, so the above tweet probably didn't embed either, lol</p>
        <script id="twitter" onerror="document.getElementById('lol').style.removeProperty('display')" async src="http://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
    <%- include("partials/standard_scripts.ejs") %>
</body>

</html>