<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head.ejs") %>
    <style>
        .tweet {
            display: block;
            height: 500px;
            max-width: 700px;
        }
        .tweet iframe {
            height: 100%;
            width: 100%;
        }
    </style>
</head>

<body>
    <%- include("./partials/header.ejs") %>
    <div class="content">
        <h1>404</h1>
        <p>The requested url <code><%= url %></code> was not found</p>
        <!-- Embed TopHattWaffle's tweet -->
        <div class="tweet">
            <iframe scrolling="no" src="https://nitter.net/TopHATTwaffle/status/993234368540954625/embed"></iframe>
        </div>
    </div>
    <%- include("./partials/scripts.ejs") %>
</body>

</html>