<html lang="en">

<%- include("_head_.ejs") %>

<body>
    <div id="header">
        <span><span class="logo">bomo</span> - The Classic Card Game</span>
        <span>About</span>
    </div>
    <div id="main">
        <div id="chat">
            <div id="chat-log"></div>
            <div id="chat-input" contenteditable></div>
        </div>
        <div id="frame">