<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("./partials/head.ejs") %>
    </head>
    <body>
        <%- include("./partials/header.ejs") %>
        <div class="content">
            <p>bomo is an open source take on the classic Mattel card game UNO, playable via web browser</p>
            <p>you can view the source code <a href="https://github.com/mechabubba/bomo">here</a></p>
            <h1>contributors</h1>
            <table>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Github</th>
                </tr>
                <tr>
                    <th><img class="avatar" src="./assets/avatars/mechabubba.png" /></th>
                    <td>Steven</td>
                    <td><a href="https://github.com/mechabubba">"STOP POSTING ABOUT UNO IM TIRED OF SEEING IT"</a></td>
                </tr>
            </table>
        </div>
        <%- include("./partials/scripts.ejs") %>
    </body>
</html>
