<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/standard_head.ejs") %>
    <link rel="stylesheet" href="/css/browser.css">
</head>

<body>
    <%- include("partials/standard_header.ejs") %>
    <div id="page">
        <div id="browser">
            <div class="header">
                <h2>Lobby Browser</h2>
                <input placeholder="lobby name"></input>
                <button>create lobby</button>
            </div>
            <div id="lobbies">
                <div class="lobby">
                    <span class="name">Test</span>
                    <span>
                        <img src="/assets/silkicons/lock.png">
                    </span>
                    <span class="players">0/10</span>
                    <button>join</button>
                </div>
                <div class="lobby">
                    <span class="name">Test</span>
                    <span>
                        <img src="/assets/silkicons/lock.png">
                    </span>
                    <span class="players">0/10</span>
                    <button>join</button>
                </div>
                <div class="lobby">
                    <span class="name">Test</span>
                    <span>
                        <img src="/assets/silkicons/lock.png">
                    </span>
                    <span class="players">0/10</span>
                    <button>join</button>
                </div>
            </div>
        </div>
        <div id="side"></div>
    </div>

    <!-- Manipulated Elements -->
    <template id="lobby"></template>
    <!-- Scripts -->
    <%- include("partials/standard_scripts.ejs") %>
</body>

</html>