<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/standard_head.ejs") %>
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <%- include("partials/standard_header.ejs") %>
    <div id="page">
        <div id="side">
            <div style="padding: 1em;">
                <span>Example Side</span>
            </div>
        </div>
        <div id="content">
            <div style="padding: 1em;">
                <span>Example Content</span>
            </div>
        </div>
        <%- include("partials/about_modal.ejs") %>
    </div>
    <!-- Scripts -->
    <script type="module" src="/modules/index.js"></script>
    <!-- @todo I'm going to redo the about modal, so this wont stay like this -->
    <script>
        document.addEventListener("DOMContentLoaded", async function (event) {
            const about = document.getElementById("about");
            about.hidden = true;
            document.getElementById("open-about-modal").addEventListener("click", () => {
                about.hidden = !about.hidden;
            });
        });
    </script>
    <%- include("partials/standard_scripts.ejs") %>
</body>

</html>