<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/standard_head.ejs") %>
</head>

<body>
    <%- include("partials/standard_header.ejs") %>
    <div id="page"></div>
    <%- include("partials/standard_scripts.ejs") %>
</body>

</html>