<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head.ejs") %>
    <% if (locals.style) { %>
    <link rel="stylesheet" href="<%= locals.style %>" />
    <% } %>
</head>

<body>
    <% if (locals.partial) { %>
    <%- include(locals.partial) %>
    <% } %>
</body>

</html>