#page {
    display: flex;
    flex-direction: row;
}

#side {
    flex-shrink: 0;
    width: 300px;
    /* overflow-y: scroll; */
    /* background-color: var(--shade-two); */
}

#content {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    /* overflow-y: scroll; */
}

/* @media only screen and (max-width: 700px) {
    #content {
        flex: 1 0 0;
    }
} */
