@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap");

/* @todo Note that this color scheme is not designed for themes, and id want to redo it if implementing a theme system */

:root {
    --background: #121212;
    --background-secondary: #2a2a2a;
    --background-tertiary: #414141;
    --highlight: #539bf5;
    --highlight-secondary: rgba(83, 155, 245, 0.5);
    --highlight-tertiary: rgba(83, 155, 245, 0.3);
    --highlight-quaternary: rgba(83, 155, 245, 0.1);
    --text-color: #eee;
    --text-color-secondary: #b8b8b8;
    --text-color-tertiary: #898989;
    --font-size: 16px;
    --spacing: 8px;
    --corners: 4px;
    --border: 2px solid var(--background-secondary);
}

* {
    box-sizing: border-box;
}

* > :first-child {
    margin-top: 0;
}

* > :last-child {
    margin-bottom: 0;
}

[hidden],
template {
    display: none !important;
}

html,
body {
    margin: 0;
    padding: 0;
}

html {
    background-color: var(--background);
}

body {
    min-height: 100vh;
    color: var(--text-color);
    font-size: var(--font-size);
    font-family: "Roboto", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* General Elements */

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: var(--font-size) 0;
}

img {
    vertical-align: center;
    border: none;
}

pre {
    display: block;
    white-space: pre;
}

code {
    display: inline-block;
    white-space: pre-wrap;
}

pre,
code {
    padding: 0 var(--spacing);
    color: inherit;
    font-size: var(--font-size);
    font-family: "Roboto Mono", monospace, sans-serif;
    background-color: var(--highlight-quaternary);
    border-radius: var(--corners);
}

article,
aside,
footer,
header,
nav,
section,
main {
    display: block;
}

/* @todo write css for lists and tables */

/* Interface Components */

/* 
added in firefox 92
could be used with css filters for much cleaner interface component css
body, body * {
    accent-color: var(--highlight);
} */

::placeholder {
    color: var(--text-color-secondary);
}

/* :focus,
:focus-visible, */
a:focus,
button:focus,
input:focus,
select:focus,
textarea:focus,
audio:focus,
video:focus {
    outline: 2px solid var(--highlight);
    /* outline-offset: 1px; */
}

/* :focus:not(:focus-visible) {
    outline: none;
} */

a {
    /* rgb(102, 156, 255) */
    color: var(--highlight);
    border: solid 1px transparent;
    text-decoration: none;
    outline-color: var(--highlight);
    transition: 0.1s;
}

a:hover,
a:active {
    text-decoration: underline;
}

button,
select,
input[type="checkbox"] {
    cursor: pointer;
}

input,
textarea {
    cursor: text;
}

textarea {
    min-height: 27px;
}

button,
input,
textarea {
    background-color: var(--highlight-tertiary);
    padding: 4px 6px;
}

select {
    padding: 4px 1px;
    background-color: var(--background-tertiary);
}

input[type="checkbox"] {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    vertical-align: middle;
    text-align: center;
    font-family: monospace;
    width: 22px;
    padding: 0px;
}

input[type="checkbox"]:after {
    content: "\2714";
    color: transparent;
}

input[type="checkbox"]:checked:after {
    color: inherit;
}

button,
input,
select,
textarea {
    display: inline-block;
    color: var(--text-color);
    outline-color: var(--highlight);
    font-size: var(--font-size);
    font-family: "Roboto", sans-serif;
    margin: unset;
    border: none;
    border-radius: var(--corners);
    text-decoration: none;
    transition: 0.1s;
}

button:hover,
input:hover,
textarea:hover,
input:focus-visible,
textarea:focus-visible {
    background-color: var(--highlight-secondary);
}

input[type="checkbox"]:hover,
input[type="checkbox"]:focus-visible {
    background-color: var(--highlight-tertiary);
}

input[type="checkbox"]:checked,
input[type="checkbox"]:checked:disabled {
    background-color: var(--highlight-secondary);
}

button:disabled,
input:disabled,
select:disabled,
textarea:disabled,
button:disabled:hover,
input:disabled:hover,
select:disabled:hover,
textarea:disabled:hover {
    color: var(--text-color-tertiary);
    cursor: default;
}

button:disabled,
input:disabled,
textarea:disabled,
button:disabled:hover,
input:disabled:hover,
textarea:disabled:hover {
    background-color: var(--highlight-quaternary);
}

select:disabled,
select:disabled:hover {
    background-color: var(--background-secondary);
}

canvas {
    display: inline-block;
}

audio,
video {
    display: inline-block;
}

audio:not([controls]) {
    display: none;
}
