/* --title-color: rgb(242, 217, 58); */

/* Classes */

.content > :first-child {
    margin-top: 0;
}

.content > :last-child {
    margin-bottom: 0;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 1em;
}

.grow {
    flex-grow: 1;
}

/* @todo Write classes for styling tables */

/* Layout */

body {
    display: flex;
    flex-direction: column;
}

#page-header {
    background-color: var(--shade-two);
    padding: var(--spacing);
}

#page {
    flex-grow: 1;
}

.header > * {
    margin: unset;
}

#about {
    position: absolute;
    width: 400px;
    padding: 20px;
    border-radius: 20px;
    background-color: var(--background-color-secondary);
}

#about > #close-about {
    position: absolute;
    padding: 6px 10px;
    top: 0;
    right: 0;
    cursor: pointer;
}
