<div id="content">
    <h1>bomo</h1>
    <p>wip. v{{ version }}</p>

    <button id="do_it">do it</button>
</div>
<script type="module" src="/modules/index.js"></script>
<script>
document.getElementById("do_it").addEventListener("click", () => {
    window.mainnn();
})
</script>
