        </div>
    </div>
    <script>
        // Prevent elements automatically scrolling to the position they were prior to reload
        history.scrollRestoration = "manual"
    </script>

    <!-- <script src="js/app.js"></script> -->
    <script src="js/main.js"></script>
    <template id="card-template">
        <div class="sleeve">
            <div class="card"></div>
        </div>
    </template>
</body>

</html>