<%- include("_header_.ejs") %>

<h1>hello</h1>
<p>this is the index view. poggers...</p>
<p>server running on node.js <%= node_version %> :)</p>
<p>see <a href="./cards/">card demo</a></p>

<%- include("_footer_.ejs") %>