body,
#main {
    display: flex;
}

body {
    flex-direction: column;
}

#main {
    flex-direction: row;
}

#main,
#content {
    flex-grow: 1;
}

#header,
#content,
#footer {
    padding: 1em;
}

#header {
    border-bottom: var(--border);
}

#footer {
    border-top: var(--border);
}

@media only screen and (max-width: 700px) {
    #main {
        flex-direction: column;
    }
}